<!DOCTYPE html>

<html>
<head>
	<!--Here is where I Store my menu bar, and copyright-->
  <title>Busissereview</title>
  <%= render 'layouts/bootstrap' %>
   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>	
  </head>
  
  <body>
	  <%= render 'layouts/navbar' %>
	  
	  <div class="container-fluid">
	  	
		<!-- THIS CODE BELOW: It looks pretty complicated, but this code basically replaces the default alerts with Bootstrap-styled ones. It should work as long as you’re using Rails version 4.1 or later. -->
		
		<% flash.each do |name, msg| %>
		      <% if msg.is_a?(String) %>
		        <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable"> <!-- If you’re using an earlier version of Rails, you’ll need to delete the quotes around ‘notice’ and add a colon in front. With this new code, let’s save and do one more thing. -->
		          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		          <%= content_tag :div, msg, :id => "flash_#{name}" %>
		        </div>
		      <% end %>
		    <% end %>
		  
 	  	<%= yield %>
  	  	<%= render 'layouts/footer' %>
	</div>
	
  </body>
  </html>